altgraph==0.16.1
astroid==2.3.1
autopep8==1.4.4
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
Django==2.2.22
future==0.17.1
idna==2.8
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
matplotlib==3.1.1
mccabe==0.6.1
MouseInfo==0.0.4
numpy==1.17.2
opencv-contrib-python==4.1.1.26
opencv-python==4.1.1.26
pefile==2019.4.18
Pillow==6.2.0
PyAutoGUI==0.9.47
pycodestyle==2.5.0
PyGetWindow==0.0.7
PyInstaller==3.5
pylint==2.4.2
PyMsgBox==1.0.7
pyparsing==2.4.2
pyperclip==1.7.0
PyQt5==5.13.1
PyQt5-sip==12.7.0
PyQtWebEngine==5.13.1
PyRect==0.1.4
PyScreeze==0.1.23
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.3
pywin32==225
pywin32-ctypes==0.2.0
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
youtube-dl==2019.9.28
